doctype html
html
  head
    title Sink Test
    link( href="#{cssDir}/main.gen.css" rel="stylesheet" )
  body
    div#t2
      div#rid0.para-Body
          span#rid0.text-Normal
          span#rid1.text-Normal
      div#cur | 
  script( src="#{jsLibDir}/jquery.js" )
  script( src="#{jsDir}/main.js" )
