
div#cur 
    position  fixed
    top  0
    left  0
    color  red

.para-Title 
    font-size    22pt
    font-weight  bold

.para-Body 
    font-size    11pt

span.dead 
   display  none

span.selected
   color blue !important

span.old
    color red !important

span.new
    color green
