doctype html
html
  head
    title Sink Test
    link( href="#{cssDir}/main.gen.css" rel="stylesheet" )
  body
    div#t2
        p Hello World 
  script( src="#{jsLibDir}/jquery.js" )
  script( src="#{jsDir}/main.js" )
