// Remove all the comments tht start with // when create the actual secret.json files

{
    dev: {
    "domain" : "example.com", // domain name for site 
    "port": 8080 , // port to run node on 
    "host" : "example.com", // hostname to deploy on 
    "username" : "username", // user name to use for deploy 
    "privateKeyLoc": "/Users/TODO/.ssh/id_rsa", // where the ssh key to deploy is 
    "linkedInApiKey": "TODO", // from linkedin app config page 
    "linkedInSecretKey": "TODO", // from linkedin app config page 
    "linkedInCallbackUrl": "http://host:port/auth/linkedin/callback", // "http://localhost:8080/auth/linkedin/callback",
    "cookieSecret": "TODO",   // just some random string     
    "sessionSecret": "TODO", // just some random string 
    "redisUrl": "redis://user:pass@host:port/db", //  "redis://localhost:6379/sink-cache-1",
    "mongoUrl": "mongodb://username:password@host:port/database?options", // "mongodb://localhost/sink-db-1",
    "rabbitMQUrl": "amqp[s]://[user:password@]hostname[:port][/vhost]" //"amqp://guest:guest@hostname/siunk-msg-1"
  },
  prod: { // same as above
  },
  test: { // same as above
  }
}	    
