{
    "cookieSecret": "TODO",        
    "sessionSecret": "TODO",
    "redisUrl": "redis://user:pass@host:port/db",
    "mongoUrl": "mongodb://username:password@host:port/database?options",
    "rabbitMQUrl": "amqp[s]://[user:password@]hostname[:port][/vhost]"
}	    
